<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>控制台 - Bootstrap后台管理系统模版Ace下载</title>
    <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文"/>
    <meta name="description" content="JS代码网提供Bootstrap模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->


    <!-- ace styles -->

    <link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="__ADMIN__/assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__ADMIN__/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="__ADMIN__/assets/js/html5shiv.js"></script>
    <script src="__ADMIN__/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--顶部导航栏-->
{include file="public/navbar"}
<!--/顶部导航栏-->

<!-- main-container -->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>


        {include file="public/sidebar"}<!--/sidebar-->

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">商品管理</li>
                </ul><!-- .breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="icon-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- #nav-search -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        商品管理
                        <small>
                            <i class="icon-double-angle-right"></i>
                            商品列表
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right"><h2>所属分类:{if condition = "($goods_info !=
                        null) " }{$goods_info[0]['cate_name']}{/if}</h2></label>
                    <div class="col-sm-12">
                        <!--每一个顶级分类及其子类对应于一个三级分类列表-->
                        <ul class="nav nav-list  ">
                            <!--商品分类-->
                            {volist name="cate_list1" id="vo1"}
                            <li>
                                <a href="#" class="dropdown-toggle">
                                    <span class="menu-text">{$vo1.cate_name} </span>

                                    <b class="arrow icon-angle-down"></b>
                                </a>

                                <ul class="submenu" style="display: none;">
                                    {volist name="$vo1.children" id="vo2"}
                                    <li>
                                        <a href="#" class="dropdown-toggle">
                                            {$vo2.cate_name}
                                            <b class="arrow icon-angle-down"></b>
                                        </a>

                                        <ul class="submenu" style="display:none;">
                                            <div class="col-xs-4">
                                                {volist name="$vo2.children" id="vo3"}
                                                <!--<select class="form-control" id="goods_pid" name="goods_pid">-->
                                                <!---->
                                                <!--<option value="{$vo3.id_cate}">{$vo3.cate_name}</option>-->
                                                <!--</select>-->
                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a href="{:url('goods/goodslist',array('goods_pid'=>$vo3.id_cate))}">{$vo3.cate_name}</a>
                                                </li>
                                                {/volist}
                                            </div>

                                        </ul>
                                    </li><!--分类管理-->
                                    {/volist}

                                </ul><!-- /.nav-list -->
                                <script type="text/javascript">
                                    try {
                                        ace.settings.check('sidebar', 'collapsed')
                                    } catch (e) {
                                    }
                                </script>
                            </li>
                            {/volist}
                        </ul>

                    </div>
                </div>
                <div class="space-4"></div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="col-xs-12">

                                <div class="table-responsive">
                                    <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div id="sample-table-2_length" class="dataTables_length"><label>Display
                                                    <select size="1" name="sample-table-2_length"
                                                            aria-controls="sample-table-2">
                                                        <option value="10" selected="selected">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> records</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="dataTables_filter" id="sample-table-2_filter"><label>Search:
                                                    <input type="text" aria-controls="sample-table-2"></label></div>
                                            </div>
                                        </div>


                                        <!--<form action="" method="post">-->
                                            <table id="sample-table-2"
                                                   class="table table-striped table-bordered table-hover dataTable"
                                                   aria-describedby="sample-table-2_info">
                                                <thead>

                                                <tr role="row">
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Domain: activate to sort column ascending"
                                                        style="width: 203px;">ID
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品名称
                                                    </th>

                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Domain: activate to sort column ascending"
                                                        style="width: 203px;">缩略图
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品价格
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品状态
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品销量
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品库存
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品所属分类
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0"
                                                        aria-controls="sample-table-2" rowspan="1" colspan="1"
                                                        aria-label="Price: activate to sort column ascending"
                                                        style="width: 137px;">商品关键字
                                                    </th>
                                                    <th class="sorting_disabled" role="columnheader" rowspan="1"
                                                        colspan="1"
                                                        aria-label="" style="width: 211px;">操作
                                                    </th>
                                                </tr>

                                                </thead><!--字段标题-->

                                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                {volist name="goods_info" id="vo"}
                                                <tr class="odd">

                                                    <td class=" ">
                                                        <a href="#">{$vo.goods_id}</a>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <span>{$vo.goods_name}</span>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <img src="{$vo.goods_thumb}" width="100">
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <span>{$vo.goods_price}</span>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <span {if condition="$vo.goods_status == 0" }
                                                              class="label label-sm label-warning">未上架{else/}>已上架{/if}</span>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <span>{$vo.goods_sales}</span>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <span>{$vo.goods_inventory}</span>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        <span>{$vo.cate_name}</span>
                                                    </td>
                                                    <td class="hidden-480 ">
                                                        {volist name="vo.keywords" id="vo1"}
                                                        <a href="javascript:if(comfirm('确认删除?')) location='{:url('goods/keywordsDelHanddle',array('goods_id'=>$vo.goods_id,'keywords_name'=>$vo1.keywords_name))}'"
                                                           class="red" style="text-decoration: none;">
                                                            <i class="icon-trash bigger-130"></i>

                                                        </a>
                                                        {$vo1.keywords_name}<br>
                                                        {/volist}<br>
                                                        <form method="post" action="{:url('goods/keywordsAddHanddle')}">
                                                            <input type="text" name="goods_id" value="{$vo.goods_id}"
                                                                   placeholder="请输入关键字" autocomplete="off"><br><br>
                                                            <input type="submit" value="添加关键字"
                                                                   class="btn btn-info btn-xs">
                                                        </form>
                                                    </td>
                                                    <td class=" ">
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                            <a class="green"
                                                               href="{:url('goods/update',array('goods_id'=>$vo.goods_id))}">
                                                                <i class="icon-pencil bigger-130"></i>
                                                            </a>

                                                            <a class="red"
                                                               href="javascript:if(confirm('确认删除?')) location='{:url('goods/del',array('goods_id'=>$vo.goods_id))}'">
                                                                <i class="icon-trash bigger-130"></i>
                                                            </a>
                                                        </div>

                                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                            <div class="inline position-relative">
                                                                <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                                        data-toggle="dropdown">
                                                                    <i class="icon-caret-down icon-only bigger-120"></i>
                                                                </button>

                                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                                    <li>
                                                                        <a href="#" class="tooltip-info"
                                                                           data-rel="tooltip"
                                                                           title="" data-original-title="View">
                                                                                    <span class="blue">
                                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                                    </span>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" class="tooltip-success"
                                                                           data-rel="tooltip" title=""
                                                                           data-original-title="Edit">
                                                                                    <span class="green">
                                                                                        <i class="icon-edit bigger-120"></i>
                                                                                    </span>
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="#" class="tooltip-error"
                                                                           data-rel="tooltip"
                                                                           title="" data-original-title="Delete">
                                                                                    <span class="red">
                                                                                        <i class="icon-trash bigger-120"></i>
                                                                                    </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {/volist}
                                                </tbody><!--具体值-->

                                            </table>
                                            <!--<div class="clearfix form-actions">-->
                                            <!--<div class="col-md-offset-3 col-md-9">-->
                                            <!--<input type="submit" name="" value="分类排序" class="btn btn-info">-->
                                            <!--</div>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                        <!--商品管理表格-->
                                        {$show}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div id="modal-table" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">×</span>
                                            </button>
                                            Results for "Latest Registered Domains
                                        </div>
                                    </div>

                                    <div class="modal-body no-padding">
                                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                            <thead>
                                            <tr>
                                                <th>Domain</th>
                                                <th>Price</th>
                                                <th>Clicks</th>

                                                <th>
                                                    <i class="icon-time bigger-110"></i>
                                                    Update
                                                </th>
                                            </tr>
                                            </thead>

                                        </table>
                                    </div>

                                    <div class="modal-footer no-margin-top">
                                        <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                            <i class="icon-remove"></i>
                                            Close
                                        </button>

                                        <ul class="pagination pull-right no-margin">
                                            <li class="prev disabled">
                                                <a href="#">
                                                    <i class="icon-double-angle-left"></i>
                                                </a>
                                            </li>

                                            <li class="active">
                                                <a href="#">1</a>
                                            </li>

                                            <li>
                                                <a href="#">2</a>
                                            </li>

                                            <li>
                                                <a href="#">3</a>
                                            </li>

                                            <li class="next">
                                                <a href="#">
                                                    <i class="icon-double-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.table -->

            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="icon-cog bigger-150"></i>
            </div>

            <div class="ace-settings-box" id="ace-settings-box">
                <div>
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="default" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>&nbsp; 选择皮肤</span>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar"/>
                    <label class="lbl" for="ace-settings-navbar"> 固定导航条</label>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar"/>
                    <label class="lbl" for="ace-settings-sidebar"> 固定滑动条</label>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs"/>
                    <label class="lbl" for="ace-settings-breadcrumbs">固定面包屑</label>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>
                    <label class="lbl" for="ace-settings-rtl">切换到左边</label>
                </div>

                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container"/>
                    <label class="lbl" for="ace-settings-add-container">
                        切换窄屏
                        <b></b>
                    </label>
                </div>
            </div>
        </div><!-- /#ace-settings-container -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->


<!-- basic scripts -->

<!--[if !IE]> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='__ADMIN__/assets/js/jquery-2.0.3.min.js'>" + "<" + "script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__ADMIN__/assets/js/jquery-1.10.2.min.js'>" + "<" + "script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='__ADMIN__/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
</script>
<script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
<script src="__ADMIN__/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__ADMIN__/assets/js/excanvas.min.js"></script>
<![endif]-->

<script src="__ADMIN__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__ADMIN__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__ADMIN__/assets/js/jquery.slimscroll.min.js"></script>
<script src="__ADMIN__/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="__ADMIN__/assets/js/jquery.sparkline.min.js"></script>
<script src="__ADMIN__/assets/js/flot/jquery.flot.min.js"></script>
<script src="__ADMIN__/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="__ADMIN__/assets/js/flot/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->

<script src="__ADMIN__/assets/js/ace-elements.min.js"></script>
<script src="__ADMIN__/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->

<script type="text/javascript">


    $(function(){
        var input = $("input");
        $.each(input,function(i,v){
            var $html = $("<ul class='autocomplete'></ul>").hide().insertAfter(v);
            //定义一个html标签
            $(v).keyup(function(){
                var val = $(v).val();
                $.ajax({
                    url:'{:url("goods/keywordsAjax")}',//后台地址
                    type:"post",
                    data:{'val':val},//参数 把文本框的值传到后台
                    dataType:'json',
                    success: function(data){
                        if(data.length){
                            $html.empty();
                            $.each(data,function(index,item){
                                var text=$(v).val();
                                $("<li></li>").text(item.keywords_name).appendTo($html)
                                    .mouseover(function(){
                                        $(this).css("background","#C5D491");
                                    })
                                    .mouseout(function(){
                                        $(this).css("background","#ABC5C2");
                                    })
                                    .click(function(){
                                        $(v).val(item.keywords_name);
                                        $html.hide();
                                    });
                            });
                            $html.show();
                        }
                    }
                })
            });

        })
    })


</script>
</body>
</html>

